@model IEnumerable<Product>

<h1>Current inventory</h1>

<div style="display: block">
    <a href="/Product/CreateProduct/">Create a New Product</a>
</div>

<table class="table">
    <tr>
       <th>ID number</th>
       <th>Name</th>
       <th>Price</th>
       <th>Category ID</th>
       <th>On Sale</th>
       <th>Stock Level</th>
    </tr>
    @foreach(var product in @Model)
    {
        <tr>
            <td><a href=/Product/ViewProduct/@product.ProductID>@product.ProductID</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.CategoryID</td>
            <td>@product.OnSale</td> <!--change to display actual wording if on sale or not-->
            <td>@product.StockLevel</td>
        </tr>
    }
</table>
