@model Product

<h2>@Model.Name Info</h2>

<table class="table">
    <tr>
        <th>ID number</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>On Sale</th>
        <th>Stock</th>
    </tr>

    <tr>
        <th>@Model.ProductID</th>
        <th>@Model.Name</th>
        <th>@Model.Price</th>
        <th>@Model.CategoryID</th>
        <th>@Model.OnSale</th>
        <th>@Model.StockLevel</th>
    </tr>
</table>

<div style="display:block">
    <a href="/Product/UpdateProduct/@Model.ProductID">Update Information</a>
</div>